/*      CSS for screens WIDER than 640 pixels       */



/* BASE */

*, ::before, ::after {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {

    max-width: 960px;
    margin: auto;

}

img {

    max-width: 100%;
    max-height: 100%;

}

/*
body {

    background-color: black;

}
*/

header, main, footer {

    overflow: hidden;

}

header {

    background-color: red;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    height: 2rem;
    position: sticky;
    top: 0;
    z-index: 1;
    
}

nav {
    
    background-color: cadetblue;
    
}

main {
    
    background-color: green;
    box-shadow: 50px 50px 10px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 1280px;
    
}

main h2 {

    padding-bottom: 1rem;

}

footer {
    
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    
}

/* CLASS */

.body {
    
    background-color: black;
    height: 100%;
    /*height: 100%; /* Ovo na kraju upotrebiti umesto 100vh koje služi samo kao test */
    max-width: 960px;
    margin: auto;
    
}

.logoHeader {
    
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
    height: auto;
    object-fit: contain;
    cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym49.cur), auto;
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;
    
}

.centerHeader {
    
    background-color: coral;
    display: flex;
    align-items: center;
    width: 100%;
    
}

.titleHeader {
    
    background-color: rgb(98, 58, 136);
    font-size: 1rem;
    padding: 1rem 0.5rem;

}

.centerNav {
    
    background-color: burlywood;
    display: flex;
    
}

.menuCenterNav {
    
    background-color: palevioletred;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    /*transform: translateX(640px);*/
    
}
/*
.menuCenterNav.active {

    transform: translateX(0);

}
*/
.buttonMenuCenterNav {
    
    background-color: rgb(65, 138, 187);
    margin: 0 0.3rem;
    padding: 0.5rem;
    border-radius: 30%;
    text-decoration: none;
    
}       

.burgerMenuVis {

    visibility: hidden;

}

.gifHeader {
    
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.3);
    height: auto;
    object-fit: contain;
    cursor: grabbing;
    border-bottom-left-radius: 15%;
    border-top-left-radius: 15%;
    
}

.contMain {
    
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, transparent 20%);
    */
}

.leftContMain {
    
    background-color: pink;
    
}

.rightContMain {
    
    background-color: rgb(189, 148, 154);
    box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.5);
    
}

.textFooter {
    
    background-color: #434dd6;
    
}

.copyright {
    
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* ID */



/* MEDIA */