/*      CSS for screens NARROWER than 640 pixels      */



/* BASE */

*, ::before, ::after {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {

    max-width: 960px;
    margin: auto;

}

img {

    max-width: 100%;
    max-height: 100%;

}

header, main, footer {

    overflow: hidden;

}

header {

    background-color: red;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 1;
    
}

nav {
    
    background-color: cadetblue;
    
}

main {
    
    background-color: green;
    display: flex;
    
}

main h2 {

    padding-bottom: 1rem;

}

footer {
    
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    
}

/* CLASS */

.body {
    
    background-color: black;
    /*height: 100%; /* Ovo na kraju upotrebiti umesto 100vh koje služi samo kao test */
    max-width: 960px;
    margin: auto;
    
}

.logoHeader {
    
    display: flex;
    height: 50px;
    object-fit: contain;
    cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym49.cur), auto;
    border-radius: 0;
    box-shadow: none; /* Ovo podesiti kada se završi izgled Navigacije */
    
}

.centerHeader {
    
    background-color: coral;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2rem;
    width: 100%;
    overflow: hidden;
    
}

.titleHeader {
    
    background-color: rgb(98, 58, 136);
    display: flex;
    align-items: center;
    white-space: nowrap;
    height: 100%;
    min-width: 4rem;
    font-size: 1rem;
    padding: 0;
    overflow: hidden;

}

.centerNav {
    
    background-color: burlywood;
    display: flex;
    
}

.menuCenterNav {
    
    background-color: palevioletred;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    
}

.buttonMenuCenterNav {
    
    background-color: rgb(65, 138, 187);
    margin: 0 0.3rem;
    padding: 0.5rem;
    border-radius: 30%;
    text-decoration: none;
    
}

.burgerMenuVis {

    visibility: visible;

}

.burgerMenu {

    
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: fit-content;
    padding: 0 0.5rem;

}

.linesBurgerMenu {

    width: 2rem;
    height: 0.2rem;
    background-color: black;
    margin: 0.3rem 0;

}

.gifHeader {
    
    display: flex;
    height: 50px;
    object-fit: contain;
    cursor: grabbing;
    border-radius: 0;
    box-shadow: none; /* Ovo podesiti kada se završi izgled Navigacije */
    
}

.contMain {
    
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, transparent 20%);
    */
}

.leftContMain {
    
    background-color: pink;
    
}

.rightContMain {
    
    background-color: rgb(189, 148, 154);
    position: absolute;
    left: calc(100% - 50px);
    box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.5);
    
}

.rightContMain:hover {

    left: 50px;
    height: 100%;

}

.rightContMain::before {

    font-size: 0.5rem;
    font-weight: bold;
    color: red;
    border: 1px solid red;
    content: "Click Me";

}

.rightContMain:hover::before {

    font-size: 1rem;
    font-weight: bold;
    color: green;
    border: 1px solid green;
    content: "Click left";

}

.textFooter {
    
    background-color: #434dd6;
    
}

.copyright {
    
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* ID */



/* MEDIA */

@media (max-width: 192px) {

    footer {

        height: 4rem;

    }

}